/* Hide the default logo button */
.btn__qelogo {
    display: none;
  }

/* Hide the contrast button */
li.btn__contrast {
    display: none !important;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 0px;
  background: #fff;
  color: #444;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  border-left: 5px solid #1665ad;
  background-color: #fff;
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #444
  }
}

.dark-theme {
  blockquote {
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    border-left: 5px solid #1665ad;
    background-color: #222;
    p {
      margin-block-start: 1em;
      margin-block-end: 1em;
      color: #fff
    }
  }
}

/* Ensure images appear normally in light mode */
.qe-page__content .image-reference img,
.qe-page__content figure img,
.qe-page__content .cell_output img {
    filter: none !important;
    -ms-filter: none !important;
    -webkit-filter: none !important;
}

/* Custom content styles */
.qe-page__content {
  table {
    max-width: 100%;
    border-collapse: collapse;
    border: 0;
    background-color: #fff;

    tbody tr:nth-child(odd) {
      background-color: #f7f7f7;
    }

    td,
    th {
      padding: 0.25rem 0.75rem;
      text-align: left;
      vertical-align: top;
      border: 0;
      > p {
        margin: 0;
      }
    }

    th {
      font-weight: bold;
    }

    thead {
      tr th {
        text-align: left !important;
      }

      th,
      td {
        vertical-align: bottom;
        border: 0;
        border-top: 0;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }


